<% provide(:title, 'Home') %>
<div class="top_banner">
	<div class="container">
		<h1 class="center" id="top_slogan">FridgeChart - Never Let Your Food Spoil Again</h1>
		<h2>Easily track your fridge inventory. Save money. Save Time.</h2>
		<div class="center" id="home_demo_button">
			<%= link_to "Free Demo", root_path, :class => "m-btn red big rnd" %>
		</div>	
	</div>
</div>
<div class="container" id="lower_banner">
	<div class="row">
  		<div class="span4 center">
  			<%= image_tag("tupperware.png", :alt => "Reduce Waste") %>
  			<br>
  			<h3>Reduces waste by alerting you as to what foods are expiring soon.</h3>
  		</div>
  		<div class="span4 center">
  			<%= image_tag("grocery_list.png", :alt => "Automated Grocery Lists") %>
  			<br>
  			<h3>Automagically generates your grocery list.</h3>
  		</div>
  		<div class="span4 center">
  			<%= image_tag("dish.png", :alt => "Recipes") %>
  			<br>
  			<h3>See which ingredients you are missing for your favorite recipes.</h3>
  		</div>
  	</div>	
  	<hr>
    <div class="row">
      <div class="span6 offset3">
        <table class="table">
          <thead>
            <tr>
              <th>Food</th>
              <th>Quantity</th>
              <th>Expires in</th>
            </tr>
          </thead>
          <tbody>
            <% @stocks.each do |stock| %>
              <tr>
                <td><%= link_to stock.food.name, stock %></td>
                <td><%= stock.quantity %></td>
                <td>
                  <% case %>
                    <% when (stock.expiration - Time.now).to_i / 3600 / 24 < 2 && (stock.expiration - Time.now).to_i / 3600 / 24 > 0 %>
                      <span class="label label-important"><%= distance_of_time_in_words(Time.now, stock.expiration) %></span>
                    <% when (stock.expiration - Time.now).to_i / 3600 / 24 < 0 %>
                      <span class="label label-important">Expired <%= distance_of_time_in_words(Time.now, stock.expiration) %> ago</span>
                    <% when (stock.expiration - Time.now).to_i / 3600 / 24 < 4 && (stock.expiration - Time.now).to_i / 3600 / 24 >= 2 %>
                      <span class="label label-warning"><%= distance_of_time_in_words(Time.now, stock.expiration) %></span>  
                    <% else %>
                      <span class="label label-success"><%= distance_of_time_in_words(Time.now, stock.expiration) %></span>
                  <% end %>  
                  <%=  %>

                </td>
              </tr>  
            <% end %>  
          </tbody>
        </table>
      </div>
    </div>    
</div>